@model Mako.Web.Features.Shifts.ShiftsViewModel

@{
    ViewData["Title"] = "Shifts";
}

@section styles {
    <link href="~/css/Pages/Shifts.scss" rel="stylesheet" />
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Shifts Overview</h1>
        @if (Model.Shifts.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Shift ID</th>
                        <th>Pier</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Ship Name</th>
                        <th>Arrival Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shift in Model.Shifts)
                    {
                        <tr>
                            <td>@shift.Id</td>
                            <td>@shift.Pier</td>
                            <td>@shift.Date.ToShortDateString()</td>
                            <td>@shift.StartHour</td>
                            <td>@shift.EndHour</td>
                            <td>@shift.ShipName</td>
                            <td>@shift.ShipDateArrival.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No shifts available.</p>
        }
    </div>
</div>
