@model List<Mako.Web.Features.Requests.RequestViewModel>

@{
    ViewData["Title"] = "Requests";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="mb-4">
                <div class="btn-group" role="group" aria-label="Filter requests">
                    <button id="showUnmanaged" class="btn select-button selected" onclick="">Unmanaged</button>
                    <button id="showManaged" class="btn select-button" onclick="">Managed</button>
                </div>
            </div>

            <div id="allRequests">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Model.Count
                                @if (Model.Count == 1)
                                {
                                    @: Open Request
                                }
                                else
                                {
                                    @: Open Requests
                                }
                            </th>
                            <th>Motivation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model)
                        {
                            <tr>
                                <td>
                                    @if (request.StartDate.HasValue && request.EndDate.HasValue)
                                    {
                                        <span>Holiday from @request.StartDate.Value.ToShortDateString() to @request.EndDate.Value.ToShortDateString()</span>
                                    }
                                    else if (request.ShiftDate.HasValue)
                                    {
                                        <span>Change shift on @request.ShiftDate.Value.ToShortDateString() - Pier @request.Pier</span>
                                    }
                                    <br />
                                    <small>@($"Sent on {request.SentDate.ToShortDateString()} by {request.WorkerName} {request.WorkerSurname}")</small>
                                </td>
                                <td>@request.Motivation</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Accept</button>
                                    <button class="btn btn-danger btn-sm">Decline</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function showAllRequests() {
            document.getElementById('allRequests').style.display = 'block';
            document.getElementById('showAllRequests').classList.add('selected');
        }
    </script>
}