@model Mako.Web.Features.Workers.WorkersViewModel

@{
    ViewData["Title"] = "Workers";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            @if (Model.Workers.Any())
            {
                <div class="d-flex justify-content-center mt-4">
                    @Html.Partial("_FilterBar", false) <!-- For workers, pass false in place of true -->
                </div>

                <!-- Row container for multiple worker cards -->
                <div class="row">
                    @foreach (var worker in Model.Workers)
                    {
                        <!-- Make each card take half the row on md+ devices -->
                        <div class="col-md-6 mb-4">
                            <div class="card card-custom mt-5 shadow">
                                <div class="card-body">
                                    <div class="overlay-card px-2 py-1 d-none d-md-block">
                                        <strong>Licences expiring:</strong> @string.Join(", ", worker.Licences.Where(l => l.ExpiryDate <= DateOnly.FromDateTime(DateTime.Now.AddDays(30))).Select(l => l.Type))
                                    </div>
                                    <div class="overlay-card px-2 py-1 d-block d-md-none text-center">
                                        <strong>Licences expiring:</strong> @string.Join(", ", worker.Licences.Where(l => l.ExpiryDate <= DateOnly.FromDateTime(DateTime.Now.AddDays(30))).Select(l => l.Type))
                                    </div>

                                    <h5 class="card-title fs-3">
                                        <b>@worker.Name @worker.Surname</b>
                                    </h5>

                                    <div class="d-flex justify-content-between">
                                        <p class="card-text fs-5 mb-0">
                                            <strong class="fs-4">Roles:</strong> @string.Join(", ", worker.Roles)<br />
                                            <strong>Certificates:</strong> @string.Join(", ", worker.Certificates.Select(c => c.Type))<br />
                                            <strong>Licences:</strong> @string.Join(", ", worker.Licences.Select(l => l.Type))
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No workers available.</p>
            }
        </div>
    </div>
</div>